<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Pokemon</title>
</head>
<body>
    <div class="container d-flex justify-content-center flex-column align-items-center mt-5">

        <h1 class="mt-5"><img src="https://assets.pokemon.com/assets/cms2/img/misc/gus/buttons/logo-pokemon-79x45.png" alt="Pokemon"></h1>
        <button (click)="onLoginGoogle()" class="btn-google mt-4">Login Google</button>
    </div>
</body>
</html>